In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tiny.csv')

display(df.head(4))
print(df.columns)

,ID,lopnr,val_lopnr,birth_year_month,Sex,RefActionDate,DocumentID,IsReference,TimestampSaved,SavedAtCareUnitID,...,ActionCode18,ActionCode19,ActionCode20,ActionCode21,ActionCode22,Mosaic,Usaett,LastMoveDate,LastMoveDirection,NumberOfEarlierVisits
0,296473,97508,1,01/08/1942,K,15/03/2020,3277,1,16/03/2020,5091,...,NaN,NaN,NaN,NaN,NaN,1.Bttre bemedlade,1.0,NaN,NaN,8.0
1,294480,97508,1,01/08/1942,K,15/03/2020,3485,0,24/03/2020,4264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,293891,97508,1,01/08/1942,K,15/03/2020,3547,0,24/03/2020,5065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
3,296589,97508,1,01/08/1942,K,15/03/2020,3552,0,27/03/2020,5091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

Index(['ID', 'lopnr', 'val_lopnr', 'birth_year_month', 'Sex', 'RefActionDate',
       'DocumentID', 'IsReference', 'TimestampSaved', 'SavedAtCareUnitID',
       'NameOfCareUnit', 'IsInpatient', 'StartDatetime', 'EmergencyID',
       'DischargeDateTime', 'DiagnosisCode1', 'DiagnosisCode2',
       'DiagnosisCode3', 'DiagnosisCode4', 'DiagnosisCode5', 'DiagnosisCode6',
       'DiagnosisCode7', 'DiagnosisCode8', 'DiagnosisCode9', 'DiagnosisCode10',
       'DiagnosisCode11', 'DiagnosisCode12', 'DiagnosisCode13',
       'DiagnosisCode14', 'DiagnosisCode15', 'DiagnosisCode16',
       'DiagnosisCode17', 'DiagnosisCode18', 'DiagnosisCode19',
       'DiagnosisCode20', 'DiagnosisCodePre1', 'DiagnosisCodePre2',
       'DiagnosisCodePre3', 'DiagnosisCodePre4', 'DiagnosisCodePre5',
       'DiagnosisCodePre6', 'DiagnosisCodePre7', 'DiagnosisCodePre8',
       'DiagnosisCodePre9', 'DiagnosisCodePre10', 'DiagnosisCodePre11',
       'DiagnosisCodePre12', 'DiagnosisCodePre13', 'DiagnosisCodePre14',
       'DiagnosisCodePre15', 'DiagnosisCodePre16', 'DiagnosisCodePre17',
       'DiagnosisCodePre18', 'ActionCode1', 'ActionCode2', 'ActionCode3',
       'ActionCode4', 'ActionCode5', 'ActionCode6', 'ActionCode7',
       'ActionCode8', 'ActionCode9', 'ActionCode10', 'ActionCode11',
       'ActionCode12', 'ActionCode13', 'ActionCode14', 'ActionCode15',
       'ActionCode16', 'ActionCode17', 'ActionCode18', 'ActionCode19',
       'ActionCode20', 'ActionCode21', 'ActionCode22', 'Mosaic', 'Usaett',
       'LastMoveDate', 'LastMoveDirection', 'NumberOfEarlierVisits'],
      dtype='object')

In [3]:
df['val_lopnr'].to_numpy()[-1]

7

In [4]:
time_strings = np.zeros([df['val_lopnr'].to_numpy()[-1]+1, 61])
print(np.shape(time_strings))
ts = time_strings[0,:]
print(np.shape(ts))

(8, 61)
(61,)

In [5]:
a = df.loc[df['val_lopnr']==1]['StartDatetime']
b = df.loc[df['val_lopnr']==1]['DischargeDateTime'].fillna(0)


print(a)
print(b)

0    08/03/2020
1    20/03/2020
2    21/03/2020
3    23/03/2020
Name: StartDatetime, dtype: object
0    15/03/2020
1             0
2    23/03/2020
3    26/03/2020
Name: DischargeDateTime, dtype: object

In [13]:

idx31_date = pd.to_datetime(df.loc[df['val_lopnr']==1]['RefActionDate'][0], dayfirst=True)

print(idx31_date)
print('=')

# print(idx31_date + pd.to_timedelta(3, unit='D'))

2020-03-15 00:00:00
=
2020-03-18 00:00:00

In [9]:

# Set midpoint of list to RefActionDate
midPt = 30
ts[midPt] = 1

for i,j in zip(a,b):
    x = pd.to_datetime(i, dayfirst=True)
    print(x)
    print((x-idx31_date).days)
    startOffset = (x-idx31_date).days
    ts[midPt + startOffset] = 1
    if j!=0: # When inpatient
        y = pd.to_datetime(j, dayfirst=True)
        print(y)
        print('interval is {}'.format((y-x).days))
        endOffset = (y-x).days
        ts[midPt + startOffset : midPt + startOffset + endOffset + 1] = 1
    else: # Delta when outpatient
        print(0)
    print('---')

2020-03-08 00:00:00
-7
2020-03-15 00:00:00
interval is 7
---
2020-03-20 00:00:00
5
0
---
2020-03-21 00:00:00
6
2020-03-23 00:00:00
interval is 2
---
2020-03-23 00:00:00
8
2020-03-26 00:00:00
interval is 3
---

In [35]:
print(sum(ts))
# print(idx31_date)
zeroDate = idx31_date + pd.to_timedelta(-30, unit='D')
# print(zeroDate)
# print(zeroDate.date())
# print(np.range(60))
for i in range(0,len(ts)):
    # print(int(i), (zeroDate + pd.to_timedelta(i)).date() , int(ts[i]))
    print(int(i), (zeroDate + pd.to_timedelta(i, unit='D')).date() , int(ts[i]))

15.0
0 2020-02-14 0
1 2020-02-15 0
2 2020-02-16 0
3 2020-02-17 0
4 2020-02-18 0
5 2020-02-19 0
6 2020-02-20 0
7 2020-02-21 0
8 2020-02-22 0
9 2020-02-23 0
10 2020-02-24 0
11 2020-02-25 0
12 2020-02-26 0
13 2020-02-27 0
14 2020-02-28 0
15 2020-02-29 0
16 2020-03-01 0
17 2020-03-02 0
18 2020-03-03 0
19 2020-03-04 0
20 2020-03-05 0
21 2020-03-06 0
22 2020-03-07 0
23 2020-03-08 1
24 2020-03-09 1
25 2020-03-10 1
26 2020-03-11 1
27 2020-03-12 1
28 2020-03-13 1
29 2020-03-14 1
30 2020-03-15 1
31 2020-03-16 0
32 2020-03-17 0
33 2020-03-18 0
34 2020-03-19 0
35 2020-03-20 1
36 2020-03-21 1
37 2020-03-22 1
38 2020-03-23 1
39 2020-03-24 1
40 2020-03-25 1
41 2020-03-26 1
42 2020-03-27 0
43 2020-03-28 0
44 2020-03-29 0
45 2020-03-30 0
46 2020-03-31 0
47 2020-04-01 0
48 2020-04-02 0
49 2020-04-03 0
50 2020-04-04 0
51 2020-04-05 0
52 2020-04-06 0
53 2020-04-07 0
54 2020-04-08 0
55 2020-04-09 0
56 2020-04-10 0
57 2020-04-11 0
58 2020-04-12 0
59 2020-04-13 0
60 2020-04-14 0