This notebook is to:
- make smaller chunks of data
- briefly clean data
- check things about data
- see the data
- save load pickle files

In [20]:
# All imports
import pandas as pd
import pickle
import numpy as np

### READ IN data file:

In [13]:
# FileName = 'tiny.csv'
FileName = 'aaaPas 2024-05-15.csv'
# Read in Data File
df = pd.read_csv(FileName)
display(df.head(4))

/tmp/ipykernel_23587/3299318544.py:4: DtypeWarning: Columns (27,28,29,30,31,32,33,34,43,44,45,46,47,48,49,50,51,52,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FileName)

,ID,lopnr,val_lopnr,birth_year_month,Sex,RefActionDate,DocumentID,IsReference,TimestampSaved,SavedAtCareUnitID,...,ActionCode18,ActionCode19,ActionCode20,ActionCode21,ActionCode22,Mosaic,Usaett,LastMoveDate,LastMoveDirection,NumberOfEarlierVisits
0,296473,97508,1,01/08/1942,K,15/03/2020,3277,1,16/03/2020,5091,...,NaN,NaN,NaN,NaN,NaN,1.Bttre bemedlade,1.0,NaN,NaN,8.0
1,294480,97508,1,01/08/1942,K,15/03/2020,3485,0,24/03/2020,4264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,293891,97508,1,01/08/1942,K,15/03/2020,3547,0,24/03/2020,5065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
3,296589,97508,1,01/08/1942,K,15/03/2020,3552,0,27/03/2020,5091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

### Cutting and preprocessing:

In [14]:
# Cut by number of patients
num_of_patients = 500
df_cut = df.loc[df['val_lopnr'] <= num_of_patients]
print('Selected dataframe has a shape of \t {}'.format(df_cut.shape))

Selected dataframe has a shape of 	 (1351, 80)

### WRITE OUT data file:

In [25]:
save_when_1 = 0
save_when_1 = 1
# filename_str = "foo"
filename_str = "aaaPas_first_{}".format(num_of_patients)

save_pickle_filename = filename_str + ".pickle"
save_csv_filename =  filename_str + ".csv"

if save_when_1:
    with open(save_pickle_filename, 'wb') as fh:
        pickle.dump(df_cut, fh)
    df.to_csv(save_csv_filename, index=False)

In [22]:
for slNo, name in enumerate(df.columns):
    print("{}:\t{}".format(slNo, name))
    if np.mod(slNo+1, 5) == 0:
        print(' ')

print(df["val_lopnr"].iloc[-1])

0:	ID
1:	lopnr
2:	val_lopnr
3:	birth_year_month
4:	Sex

5:	RefActionDate
6:	DocumentID
7:	IsReference
8:	TimestampSaved
9:	SavedAtCareUnitID

10:	NameOfCareUnit
11:	IsInpatient
12:	StartDatetime
13:	EmergencyID
14:	DischargeDateTime

15:	DiagnosisCode1
16:	DiagnosisCode2
17:	DiagnosisCode3
18:	DiagnosisCode4
19:	DiagnosisCode5

20:	DiagnosisCode6
21:	DiagnosisCode7
22:	DiagnosisCode8
23:	DiagnosisCode9
24:	DiagnosisCode10

25:	DiagnosisCode11
26:	DiagnosisCode12
27:	DiagnosisCode13
28:	DiagnosisCode14
29:	DiagnosisCode15

30:	DiagnosisCode16
31:	DiagnosisCode17
32:	DiagnosisCode18
33:	DiagnosisCode19
34:	DiagnosisCode20

35:	DiagnosisCodePre1
36:	DiagnosisCodePre2
37:	DiagnosisCodePre3
38:	DiagnosisCodePre4
39:	DiagnosisCodePre5

40:	DiagnosisCodePre6
41:	DiagnosisCodePre7
42:	DiagnosisCodePre8
43:	DiagnosisCodePre9
44:	DiagnosisCodePre10

45:	DiagnosisCodePre11
46:	DiagnosisCodePre12
47:	DiagnosisCodePre13
48:	DiagnosisCodePre14
49:	DiagnosisCodePre15

50:	DiagnosisCodePre16
51:	DiagnosisCodePre17
52:	DiagnosisCodePre18
53:	ActionCode1
54:	ActionCode2

55:	ActionCode3
56:	ActionCode4
57:	ActionCode5
58:	ActionCode6
59:	ActionCode7

60:	ActionCode8
61:	ActionCode9
62:	ActionCode10
63:	ActionCode11
64:	ActionCode12

65:	ActionCode13
66:	ActionCode14
67:	ActionCode15
68:	ActionCode16
69:	ActionCode17

70:	ActionCode18
71:	ActionCode19
72:	ActionCode20
73:	ActionCode21
74:	ActionCode22

75:	Mosaic
76:	Usaett
77:	LastMoveDate
78:	LastMoveDirection
79:	NumberOfEarlierVisits

260992

### Make CSV file of new cut out: